.footer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);


  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 132px;
    height: 115px;
    z-index: 0;
    background: url('../content/BackgroundElements/dots_7.svg') 0 0 / 100% 100% no-repeat;

    @include large-tablet {
      bottom: -30px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: -20px;
    right: 0px;
    width: 132px;
    height: 115px;
    z-index: 0;
    background: url('../content/BackgroundElements/dots_8.svg') 0 0 / 100% 100% no-repeat;

    @include large-tablet {
      top: -50px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;

    @include tablet {
      justify-content: center;
      text-align: center;
    }
  }

  &__desc {
    max-width: 390px;
  }

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

    @include tablet {
      justify-content: center;

    }

    &:hover .footer__circle-text {
      color: #233348;
    }

    &:hover .footer__circle {
      background: #233348;
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.625rem;
    font-weight: 700;
    color: #5B9BF3;
    transition: background .3s;

    &-text {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
      transition: color .3s;
    }
  }

  &__text {
    @include fontcalc(18px);
    font-weight: 300;
    color: #fff;
    line-height: 155.556%;
    margin-bottom: 31px;
  }

  &__copyright {
    @include fontcalc(16px);
    font-weight: 300;
    color: #fff;
    line-height: 175%;
  }

  &__list {
    @include tablet {
      display: none
    }

    &-title {
      @include fontcalc(20px);
      font-weight: 700;
      color: #fff;
    }

    &-item {
      @include fontcalc(18px);
      font-weight: 300;
      line-height: 211.111%;
      color: #ffffffb2;
      transition: color .3s;

      &:nth-child(2) {
        margin-top: 20px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}