.mobileapps {
  padding-bottom: 200px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column-reverse;
      text-align: center;
      gap: 70px;
    }
    @include mini-phone {
      gap: 0px;
    }
  }

  &__content {
    
    &-title {

      max-width: 250px;

      @include tablet {
        max-width: 100%;
      }
    }

    &-text {

      max-width: 380px;

      @include tablet {
        max-width: 100%;
      }
    }
  }

  &__separator {
    @include tablet {
      margin: 25px auto 30px;
    }
  }

  &__btn span {
    position: relative;
    padding-right: 26px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 11px;
      height: 16px;
      background: url("../content/arrow.svg") 0 0 / 11px 16px no-repeat;
    }
  }

  &__img {
    width: 100%;
    max-width: 650px;
  }
}