.testimonials {
  position: relative;
  padding-bottom: 200px;

  &::before {
    content: '';
    position: absolute;
    top: 370px;
    left: -35px;
    width: 132px;
    height: 115px;
    z-index: 0;
    background: url('../content/BackgroundElements/dots_5.svg') 0 0 / 100% 100% no-repeat;
  }


  &__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__box {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 425px;
    margin-bottom: 40px;
    padding: 50px 0px;
    border-radius: 24px;
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: -20px;
      right: -50px;
      width: 132px;
      height: 115px;
      z-index: 1;
      background: url('../content/BackgroundElements/dots_4.svg') 0 0 / 100% 100% no-repeat;
      @include large-phone {
        top: -60px;
      }
    }
  }



  &__img {
    border: 8px solid #fff;
    border-radius: 50%;

    &-box {
      
    }
  }

  &__title {
    @include fontcalc(36px);
    font-weight: 700;
    line-height: 133.333%;
    color: #FFF;
    @include large-phone {
    @include fontcalc(32px);
    }
    @include phone {
    @include fontcalc(24px);
    }
  }

  &__separator {
    background: #FFF;
    height: 3px;
    margin-bottom: 66px;
  }

  &__sliders {
    padding: 0;
  }

  &__slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include tablet {
      flex-direction: column;
      text-align: center;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 350px;
    

    &-info {
      white-space: nowrap;
    }

    &-name {
      @include fontcalc(22px);
      font-weight: 700;
      line-height: 218.182%;
      color: #FFF;
    }

    &-position {
      @include fontcalc(18px);
      font-weight: 400;
      line-height: 266.667%;
      color: #ffffffd9;
    }

    &-review {
      width: 410px;
      @include fontcalc(19px);
      font-weight: 400;
      line-height: 157.895%;
      color: #ffffffe6;
      @include phone {
        margin-top: 30px;
        width: 360px;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }

  &__arrow-next, &__arrow-prev {
    cursor: pointer;
    transition: opacity .3s;
    opacity: .7;
      &:hover {
        opacity: 1;
      }
  }

  &__arrow-pagination {
    padding: 0;
    display: flex;
    gap: 20px;
    span {
      width: 12.5px;
      height: 12.5px;
      border-radius: 50%;
      background-color: #5A98F2;
    }
  } 
}